<h1>Listing album2photos</h1>

<table>
  <tr>
    <th>Album</th>
    <th>Published at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @album2photos.each do |album2photo| %>
  <tr>
    <td><%= album2photo.album_id %></td>
    <td><%= album2photo.published_at %></td>
    <td><%= link_to 'Show', album2photo %></td>
    <td><%= link_to 'Edit', edit_album2photo_path(album2photo) %></td>
    <td><%= link_to 'Destroy', album2photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Album2photo', new_album2photo_path %>
